body {
    background-color: #ffffff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: left;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.header-0 {
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-0 img {
    display: block;
    width: auto;
    height: auto;
    max-height: 50px;
    max-width: 400px;
    margin-left: 20px;
    transition: all 0.3s;
    cursor: pointer;
}

.header-0 img:hover {
    scale: 1.05;
    transition: all 0.3s;
}

.header-0-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header-0-links a {
    font-size: 20px;
    text-decoration: none;
    margin-right: 20px;
    transition: all 0.3s;
}

.header-0-links a:hover {
    font-size: 22px;
    transition: all 0.3s;
}